.search {
  align-items: center;
}
.search::-webkit-scrollbar {
  width: 10px;
}

.search::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.64);
  border: 1px solid gainsboro;
}